:root {
  --bg-color: #fff;
  --text-color: #333;
  --border-color: #2223;
  --active-border-color: #6e97ff;
}
button {
  --disabled-color: #2223;
  --selected-bg-color: #c8edff;
  --selected-text-color: #000;
}
button,
input {
  --bg-color: #eee;
}
.selected {
  background-color: var(--selected-bg-color);
  color: var(--selected-text-color);
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button,
input {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}
button {
  cursor: pointer;
  background-color: var(--bg-color);
}
button:hover,
input:hover {
  border-color: var(--active-border-color);
}
button:disabled {
  cursor: default;
  color: var(--disabled-color);
  background-color: var(--disabled-bg-color);
  border: 1px solid var(--border-color);
}

#columns {
  display: flex;
  justify-content: space-between;
}

pre {
  width: 300px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --text-color: rgb(233, 240, 243);
    --border-color: #fff4;
    --selected-bg-color: #0c0f41;
    --active-border-color: #294aa5;
  }
  button {
    --disabled-color: #fff4;
    --selected-bg-color: #042738;
    --selected-text-color: #d3e2f7;
    --disabled-bg-color: #17181844;
  }
  button,
  input {
    --bg-color: #171818;
  }
}
